<ion-header>
  <ion-toolbar>
    <ion-title>Management</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-input formControlName="title"></ion-input>
      <ion-buttons>
        <ion-button size="small" slot="end" expand="full" (click)="search()">
          <ion-icon size="small" name="search-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>
  <ion-list class="ion-padding-top" *ngIf="films.length">
    <ion-item-sliding *ngFor="let film of films">
      <ion-item-options side="start">
        <ion-item-option (click)="showSaveFilmAlert(film)">
          <ion-icon name="add-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item class="ion-no-padding">
        <ion-row>
          <ion-col size="2">
            <ion-img [src]="'https://image.tmdb.org/t/p/original/' + film.poster_path"></ion-img>
          </ion-col>
          <ion-col size="10">
            <small>{{ film.title }} ({{ film.release_date }})</small>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
