<ion-header>
  <ion-toolbar>
    <ion-title>Management</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-padding">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur eligendi voluptatum facilis sed provident nulla inventore, reprehenderit minima necessitatibus ex a vitae soluta possimus molestiae cumque molestias, hic quo.
  </p>
</ion-content>
