<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>Films by Genre</ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="resetView($event)">
    <ion-segment-button [value]="genre.name" *ngFor="let genre of genres" mode="md">
      <ion-label class="custom-segment-label" text-capitalize>{{ genre.name }}</ion-label>
    </ion-segment-button>
  </ion-segment> 
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item color="dark" *ngFor="let film of films">
      <ion-thumbnail slot="end">
        <img [src]="film.image">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ film.title }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getFilmsByGenre()">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
