<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>Films by Genre</ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="resetView($event)">
    <ion-segment-button [value]="genre.name" *ngFor="let genre of genres" mode="md">
      <ion-label class="custom-segment-label" text-capitalize>{{ genre.name }}</ion-label>
    </ion-segment-button>
  </ion-segment> 
</ion-header>

<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let film of films" size="12" size-lg="3" size-md="6">
        <app-film [film]="film"></app-film>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getFilmsByGenre()">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
