<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>Headers</ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" color="primary" (ionChange)="onSegmentChange($event)">
    <ion-segment-button [value]="category" *ngFor="let category of categories" mode="md">
      <ion-label class="custom-segment-label" text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment> 
</ion-header>

<ion-content color="dark">
  <app-articles [articles]="articles"></app-articles>
  <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="getArticlesByCategory()">
    <ion-infinite-scroll-content class="custom-spinner" loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
