<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="ion-padding">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur labore rerum deserunt quis veritatis maxime libero sunt reiciendis molestias id, beatae voluptatem earum, dolorum error facilis distinctio nisi soluta quaerat.
  </p>
</ion-content>
